<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="pokemon">
    <div class="title">
        <div class="pok-mon-name">Pikachu</div>
        <div class="element">2025.05.14</div>
    </div>
    <div class="image">
        <div class="character" style="background-image: url(img/Pikachu.svg)"></div>
    </div>
    <div class="card">
        <div class="type">
            <div class="type-chips"><div class="text-wrapper">Electric</div></div>
        </div>
        <div class="text-wrapper-2">学科完成时间</div>
        <div class="attribute">
            <div class="frame">
                <div class="frame-2">
                    <div class="text-wrapper-3">19:00 - 19:30</div>
                </div>
                <div class="text-wrapper-4">语文</div>
            </div>
            <div class="divider"></div>
            <div class="frame">
                <div class="frame-2">
                    <div class="text-wrapper-3">19:00 - 19:30</div>
                </div>
                <div class="text-wrapper-4">数学</div>
            </div>
            <div class="divider"></div>
            <div class="frame">
                <div class="frame-2">
                    <div class="text-wrapper-3">19:00 - 19:30</div>
                </div>
                <div class="text-wrapper-4">英语</div>
            </div>
        </div>
        <p class="lorem-ipsum-dolor">
            今天完成的比较顺利。因为有提前在学校把会做的先做完，不会做的再寻求帮助。而且把难的先完成，后面就越来越快。
        </p>
        <div class="text-wrapper-5">21天习惯养成计划</div>
        <div class="base-stats">
            <div class="label">
                <div class="text-wrapper-7">HP</div>
                <div class="text-wrapper-7">ATK</div>
                <div class="text-wrapper-7">DEF</div>
                <div class="text-wrapper-7">SATK</div>
                <div class="text-wrapper-7">SDEF</div>
                <div class="text-wrapper-7">SPD</div>
            </div>
            <div class="divider"></div>
            <div class="data">
                <div class="element-3">035</div>
                <div class="element-3">055</div>
                <div class="element-3">040</div>
                <div class="element-3">050</div>
                <div class="element-3">050</div>
                <div class="element-3">090</div>
            </div>
            <div class="chart">
                <div class="chart-2">
                    <div class="value"><div class="retangle"></div></div>
                    <div class="background"></div>
                </div>
                <div class="chart-2">
                    <div class="value"><div class="retangle"></div></div>
                    <div class="background"></div>
                </div>
                <div class="chart-2">
                    <div class="value"><div class="retangle"></div></div>
                    <div class="background"></div>
                </div>
                <div class="chart-2">
                    <div class="value" style="padding-right: 10%"><div class="retangle"></div></div>
                    <div class="background"></div>
                </div>
                <div class="chart-2">
                    <div class="value"><div class="retangle"></div></div>
                    <div class="background"></div>
                </div>
                <div class="chart-2">
                    <div class="value"><div class="retangle"></div></div>
                    <div class="background"></div>
                </div>
            </div>
        </div>
    </div>
    <img class="pokeball" src="img/pokeball-bg.svg" />
</div>
</body>
</html>
