:root {
    --identityprimary: rgba(220, 10, 45, 1);
    --identitysecondary: rgba(40, 170, 253, 1);
    --grayscaledark: rgba(29, 29, 29, 1);
    --grayscalemedium: rgba(102, 102, 102, 1);
    --grayscalelight: rgba(224, 224, 224, 1);
    --grayscalebackground: rgba(239, 239, 239, 1);
    --grayscalewhite: rgba(255, 255, 255, 1);
    --grayscalewireframe: rgba(184, 184, 184, 1);
    --pokmon-typebug: rgba(167, 183, 35, 1);
    --pokmon-typedark: rgba(117, 87, 76, 1);
    --pokmon-typedragon: rgba(112, 55, 255, 1);
    --pokmon-typeelectric: rgba(249, 207, 48, 1);
    --pokmon-typefairy: rgba(230, 158, 172, 1);
    --pokmon-typefighting: rgba(193, 34, 57, 1);
    --pokmon-typefire: rgba(245, 125, 49, 1);
    --pokmon-typeflying: rgba(168, 145, 236, 1);
    --pokmon-typeghost: rgba(112, 85, 155, 1);
    --pokmon-typegrass: rgba(116, 203, 72, 1);
    --pokmon-typeground: rgba(222, 193, 107, 1);
    --pokmon-typeice: rgba(154, 214, 223, 1);
    --pokmon-typenormal: rgba(170, 166, 127, 1);
    --pokmon-typepoison: rgba(164, 62, 158, 1);
    --pokmon-typepsychic: rgba(251, 85, 132, 1);
    --pokmon-typerock: rgba(182, 158, 49, 1);
    --pokmon-typesteel: rgba(183, 185, 208, 1);
    --pokmon-typewater: rgba(100, 147, 235, 1);
    --header-headline-font-family: "Poppins", Helvetica;
    --header-headline-font-weight: 700;
    --header-headline-font-size: 24px;
    --header-headline-letter-spacing: 0px;
    --header-headline-line-height: 32px;
    --header-headline-font-style: normal;
    --header-subtitle-1-font-family: "Poppins", Helvetica;
    --header-subtitle-1-font-weight: 700;
    --header-subtitle-1-font-size: 14px;
    --header-subtitle-1-letter-spacing: 0px;
    --header-subtitle-1-line-height: 16px;
    --header-subtitle-1-font-style: normal;
    --header-subtitle-2-font-family: "Poppins", Helvetica;
    --header-subtitle-2-font-weight: 700;
    --header-subtitle-2-font-size: 12px;
    --header-subtitle-2-letter-spacing: 0px;
    --header-subtitle-2-line-height: 16px;
    --header-subtitle-2-font-style: normal;
    --header-subtitle-3-font-family: "Poppins", Helvetica;
    --header-subtitle-3-font-weight: 700;
    --header-subtitle-3-font-size: 10px;
    --header-subtitle-3-letter-spacing: 0px;
    --header-subtitle-3-line-height: 16px;
    --header-subtitle-3-font-style: normal;
    --body-body-1-font-family: "Poppins", Helvetica;
    --body-body-1-font-weight: 400;
    --body-body-1-font-size: 14px;
    --body-body-1-letter-spacing: 0px;
    --body-body-1-line-height: 16px;
    --body-body-1-font-style: normal;
    --body-body-2-font-family: "Poppins", Helvetica;
    --body-body-2-font-weight: 400;
    --body-body-2-font-size: 12px;
    --body-body-2-letter-spacing: 0px;
    --body-body-2-line-height: 16px;
    --body-body-2-font-style: normal;
    --body-body-3-font-family: "Poppins", Helvetica;
    --body-body-3-font-weight: 400;
    --body-body-3-font-size: 10px;
    --body-body-3-letter-spacing: 0px;
    --body-body-3-line-height: 16px;
    --body-body-3-font-style: normal;
    --body-caption-font-family: "Poppins", Helvetica;
    --body-caption-font-weight: 400;
    --body-caption-font-size: 8px;
    --body-caption-letter-spacing: 0px;
    --body-caption-line-height: 12px;
    --body-caption-font-style: normal;
    --drop-shadow-2-dp: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    --drop-shadow-6-dp: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
}
